:root {
    --font-family: 'Times New Roman', Times, serif, sans-serif;
    --button-color: #0d7a8a;
    --text-color: #2c3e50;
    --background-color: #f4f4f4;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-size: 18px;
    background-color: var(--background-color);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.login-section {
    vertical-align: middle;
    text-align: center;
    padding: 0px;
    margin: 0px;
    display: grid;
    background-color: var(--background-color);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.log-in-text {
    font-size: 35px;
}

.username-input, .password-input {
    width: 350px;
    height: 35px;
}

.username-text, .password-text {
    justify-self: left;
    text-align: left;
    margin-bottom: 5px;
}

.login-button {
    width: 100px;
    height: 35px;
    margin-top: 20px;
    border-radius: 100px;
    border-style: none;
    background-color: var(--button-color);
    color: white;
}

.signup-text {
    text-align: left;
    margin-top: 30px;
}

.signup-text a {
    color: var(--button-color);
}

.error-message {
    display: none;
    color: red;
    margin-top: 10px;
    text-align: left;
}